.dashboard {
  min-height: 100vh;
  padding: 10px;
  background-color: white;
}

.content-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.filtered-value-box {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.card-header {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

.card-body {
  padding: 0;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #dee2e6;
}

.basic-multi-select {
  border-radius: 8px;
  border: 1px solid #dee2e6;
}

.basic-multi-select .select__control {
  border-radius: 8px;
  border: 1px solid #dee2e6;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 400px;  /* Adjust height as needed */
}

.chartjs-tooltip {
  color: #4A90E2;
  font-weight: bold;
}

@media (max-width: 768px) {
  .filtered-value-box {
    font-size: 1.5em;
  }

  .form-control,
  .basic-multi-select .select__control {
    font-size: 0.9em;
  }

  .chart-container {
    height: 300px;  /* Adjust height for mobile view */
  }

  .date-picker-container {
    width: 100%;
  }

  .date-picker-container .form-control {
    width: 100%;
    margin-bottom: 10px;
  }
  .react-datepicker-wrapper {
	width: 100%;
  }
}
