.positions-table {
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .positions-table thead {
    display: none;
  }

  .positions-table tbody, .positions-table tr, .positions-table td {
    display: block;
    width: 100%;
  }

  .positions-table tr {
    margin-bottom: 15px;
  }

  .positions-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .positions-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}

.info-box-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info-box {
  flex: 1 1 200px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.25rem;
  color: #212529;
}

.info-box strong {
  display: block;
  font-weight: 700;
}

.pie-chart-container {
  flex: 1 1 200px;
  max-width: 300px; /* Set a max width for the chart */
  margin: 0 auto;
}
