.positions-table {
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .positions-table thead {
    display: none;
  }

  .positions-table tbody, .positions-table tr, .positions-table td {
    display: block;
    width: 100%;
  }

  .positions-table tr {
    margin-bottom: 15px;
  }

  .positions-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .positions-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}

.info-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.balance-container {
  flex: 1;
  margin-bottom: 20px;
}

.info-box {
  display: inline-block;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-size: 1.25rem;
  color: #212529;
  margin: 5px 0;
}

.filtered-value-box {
  display: inline-block;
  background-color: white;
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.pie-chart-container {
  flex-shrink: 0;
  max-width: 300px;
}

.info-box-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-box {
  margin: 5px;
}

@media (max-width: 768px) {
  .filtered-value-box {
    font-size: 2em;
  }
  .balance-container {
    /*center the content on mobile*/
	display: flex;
	justify-content: center;
  }

  .pie-chart-container {
    max-width: 100%;
    margin-top: 20px;
  }
}
