/* Sidebar.css */

.navbar {
  background-color: #333;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 1000; /* Ensure navbar is on top */
}

.menu-bars {
  margin-left: auto;
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #333;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 1000; /* Ensure sidebar is on top */
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  height: 100%;
}

.nav-text a:hover {
  background-color: #575757;
  border-radius: 4px;
}
